.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 15px;
  gap: 25px;
  background: #292b36;
  -webkit-app-region: drag;

  & > .leftSide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 140%;

    color: #dfe1ea;

    & > .info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;
    }
  }

  & > .rightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 11px;

    & > .buttonsContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0px;

      & > .buttons {
        transition: var(--tr);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 10px;
        background: transparent;
        cursor: pointer;
        -webkit-app-region: no-drag;

        &:hover {
          background: #393b46;
        }
      }
    }
  }
}
